/* CSS files add styling rules to your content */

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Google Sans", Roboto, sans-serif;
  color: #424242;
}

/* --------------------Home Page-------------------- */

#googledesignlogo {
  display:flex;
  justify-content: center;
  width:100%;
  margin-top:50px;
}

#googledesignlogo img{
  width:200px;
  height:auto;
}

nav{
  display:flex;
  justify-content:center;
  width:100%;
  margin-bottom:50px;
}

nav .navbar {
  display:flex;
  list-style-type:none;
  margin-top:10px;
}

.navbar li a {
  font-size:14px;
  display:block;
  text-decoration:none;
  padding:15px;
  color: #424242;
}

.navbar li a:hover {
  text-decoration: underline;
}

.searchicon {
  position:absolute;
  margin-left:880px;
  text-decoration: none;
  height: 15px;
  margin-top: 20px;
}

.searchicon a{
  color: #424242;
}

.heroparent{
  float:center;
  width:1030px;
  margin: 0 auto;
}

.heroimg{
  background-image: url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2F1.png?v=1611712946004");
  background-position: center;
  background-size:cover;
  width:100%;
  height:450px;
  margin: auto;
}

.herotext {
  height:250px;
  width:100%;
  padding:20px;
}

.heroh1 {
  margin-top:10px;
  font-size: 28px;
  font-weight:400;
}

.heroh2 {
  font-size: 15px;
  font-weight:200;
}

.herosmalltext {
  font-size:12px;
  font-family: 'Roboto Mono', monospace;
}

.container2 {
  width:980px;
  margin: auto;
  border-top:5px solid #4b88f4;
  height:600px;
}

.headertitle{
  padding-top:30px;
  width:100%;
  justify-content:space-between;
  padding-bottom:30px;
}

.newsfeed, .featured {
  float:left;
  font-size: 18px;
  font-weight:500;
}

.morenews, .viewcollection{
  text-align:right;
  float:right;
}

.morenews a, .viewcollection a{
  text-decoration: none;
  color:#4580da;
  font-size:12px;
  font-weight:500;
}

.child{
  width:500px;
  height:500px;
  margin-top:30px;
  padding:20px;
}

.one, .three, .five, .seven{
  float: left;
  width:50%;
}

.date{
  font-size:11px;
  font-family: 'Roboto Mono', monospace;
}

.childh, .colh{
  font-size: 18px;
  font-weight:200;
  margin-top:5px;
  margin-bottom:5px;
}

.newsfeedimg{
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2F2.png?v=1612482978486");
  background-position: center;
  background-size:cover;
  height:300px;
}

.newsfeedp, .colp{
  font-size:12.5px;
}

.two{
  float: right;
  width:49%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.col {
  width:100%;
  height:100px;
  
}

.newsletter{
  height:70px;
  background-color:#f0f3f4;
}

.newsletterp {
  margin-top:20px;
  float:left;
  font-size:12.5px;
  margin-left:30px;
}

.newsletterimg {
  float:right;
  width:50px;
  margin-right:30px;
  margin-top:15px;
}


.container3{
  width:980px;
  margin: auto;
  border-top:5px solid #4b88f4;
  margin-top:50px;
  height:1600px;
}

.four, .six, .eight{
  float:right;
  width:49%;
}

.threeimg{
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2F3.png?v=1611712940902");
  background-position:center;
  background-size:cover;
  height:300px;
}

.fourimg {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2F4.png?v=1611712941577");
  background-position:center;
  background-size:cover;
  height:300px;
}

.fiveimg {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2F5.png?v=1611712937557");
  background-position:center;
  background-size:cover;
  height:300px;
}

.siximg {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2F6.png?v=1611712938908");
  background-position:center;
  background-size:cover;
  height:300px;
}

.sevenimg {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2F7.png?v=1611712941014");
  background-position:center;
  background-size:cover;
  height:300px;
}

.eight{
  height: 300px;
  margin-top:-1px;
  padding:30px;
}

.comment{
  border-top:5px solid #4b88f4;
}

.four .childtext{
  margin-top:23px;
}

.texteight{
  font-size: 17px;
  font-weight:200;
}

.c{
  font-size: 13px;
  weight:500;
}

.profile {
  margin-top:30px;
  display:flex;
  justify-content:space-between;
  width:280px;

}

.profile img {
  width:50px;
  height:50px;
}

.container4{
  border-top:5px solid #4b88f4;
  width:980px;
  height:800px;
  margin: auto;
}

.phead{
  font-weight:100;
}

.features{
  position:relative;
  display:flex;
  padding:none;
  margin-top:100px;
}

.row {
  position:absolute;
  height:470px;
  width:350px;
  padding:20px;
}

.ten{
  left:350px;
}

.eleven{
  left:700px;
}

.twelve{
  left:1050px;
}

.tenimg{
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2F8.png?v=1611712938075");
  background-position:center;
  background-size:cover;
  height:200px;
  width:100%;
}

.elevenimg{
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2F9.png?v=1611712937728");
  background-position:center;
  background-size:cover;
  height:200px;
  width:100%;
}

.twelveimg{
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2F10.png?v=1612498134157");
  background-position:center;
  background-size:cover;
  height:200px;
  width:100%;
}

.button{
  position:absolute;
  top:490px;
  left:870px;
  background-color: #ffffff;
  width:40px;
  height:40px;
  border-radius:25px;
  border:none;
}

.button .fa{
  color:#4b88f4;
}

.button:hover{
    box-shadow: 0px 2px 5px 3px #888888;
}

.container5{
    border-top:5px solid #4b88f4;
    width:980px;
    margin: auto;
    margin-top:50px;
    height:1600px;
}

.fourteen, .sixteen, .eighteen {
  float:right;
  width:49%;
}

.thirteen, .fifteen, .seventeen {
  float:left;
  width:49%;
}

.thirteenimg {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.52.12%20AM.png?v=1612558523387");
  background-position:center;
  background-size:cover;
  height:300px;
}

.fourteenimg {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.52.19%20AM.png?v=1612558516403");
  background-position:center;
  background-size:cover;
  height:300px;
}

.fifteenimg {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.52.29%20AM.png?v=1612558520708");
  background-position:center;
  background-size:cover;
  height:300px;
}

.sixteenimg {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.52.37%20AM.png?v=1612558524761");
  background-position:center;
  background-size:cover;
  height:300px;
}

.eighteenimg {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.52.49%20AM.png?v=1612558519533");
  background-position:center;
  background-size:cover;
  height:300px;
}

.container6{
  border-top:5px solid #4b88f4;
  width:980px;
  margin: auto;
  margin-top:50px;
  height:800px;
}

.c61img{
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.53.22%20AM.png?v=1612558521782");
  background-position:center;
  background-size:cover;
  height:200px;
  width:100%;
}

.c62img{
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.53.32%20AM.png?v=1612558515240");
  background-position:center;
  background-size:cover;
  height:200px;
  width:100%;
}

.c63img{
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.53.38%20AM.png?v=1612558510582");
  background-position:center;
  background-size:cover;
  height:200px;
  width:100%;
}

.c64img{
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.53.51%20AM.png?v=1612558520759");
  background-position:center;
  background-size:cover;
  height:200px;
  width:100%;
}

.container7 {
  border-top:5px solid #4b88f4;
  width:980px;
  margin: auto;
  margin-top:50px;
  height:1100px;
}

.c71img {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.54.02%20AM.png?v=1612558524394");
  background-position:center;
  background-size:cover;
  height:300px;
}

.c72img {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.54.10%20AM.png?v=1612558514589");
  background-position:center;
  background-size:cover;
  height:300px;
}

.c73img {
  background-image:url("https://cdn.glitch.com/f30010d6-8516-4bf6-aa33-b61527da271e%2FScreenshot%202021-02-06%20at%204.54.18%20AM.png?v=1612558525326");
  background-position:center;
  background-size:cover;
  height:300px;
}


footer{
  background-color:#e6e6e6;
  height:400px;
  width:100%;
}


/* -----------------------------------Resources Page------------------------------ */

#googledesignlogo2 img{
  position: absolute;
  width:130px;
  height:auto;
  right:1000px;
  top: 20px;
}

.resourcescontainer{
  width:980px;
  margin: 0 auto;
}

.resourcesh{
  font-size: 28px;
  font-weight:400;
  margin-bottom:100px;
}

.container8, .container9{
  background-color:blue;
  height:350px;
  width:980px;
  margin: 0 auto;
}

.box{
  height:300px;
  margin-bottom:50px;
}

.first{
  float:left;
  width:29%;
  background-color:lavender;
  border-top:5px solid black;
}

.third{
  float:left;
  width:29%;
  background-color:lavender;
  border-top:5px solid #4b88f4;
}

.second, .forth{
  float:right;
  width:60%;
}

.materialdesign{
  background-color:indigo;
  margin-top:20px;
}

.materialp{
  float:left;
  margin-top:10px;
  font-size:20px;
}

.materialimg {
  float:right;
  width:40px;
  heigh:40px;
}

.smallp{
  font-size:15px;
  margin-top:15px;
  line-height: 1.6;
}

.resourceslinks{
  margin-left:20px;
}

.resourceslinks a{
  color:#4b88f4;
}

.second img, .forth img {
  height:300px;
  width:100%;
}

.container10 {
  height:1680px;
  width:980px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.rect {
  width: 30%;
  height: 330px;
  background-color:goldenrod;
  margin-top:50px;
}

.fifteenth {
  margin-right:345px;
}

footer{
  background-color:darkgray;
  height:500px;  
}

.footercontainer{
  padding-top:150px;
  width:980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.aboutgoogledesign{
  width:70%;
}

.footerlinks li{
  list-style-type:none;
}

.footerlinks a{
  text-decoration:none;
}
